.swiper {
   width: $container-lg;
   .swiper-wrapper {
    .swiper-slide {
     @include gradienBackground ;
     padding: 1.5rem 2rem;  
     border-radius: 1rem;
     cursor: default;
     font-size: 0.9rem;
     p {
      margin-bottom: 1.5rem;
     }
     
     .patient {
      display: flex;
      align-items: center;
      gap: 1rem;
     }

     .vatar {
       width: 2.5rem;
       aspect-ratio: 1/1;
       border-radius: 50%;
       overflow: hidden;
     }
    }
   }
   .swiper-pagination-bullet {
     background: $primary-color;
   }
} 
        //  Tablet
@media screen and (max-width:1024px) {
  .swiper {
    .swiper-wrapper {
      .swiper-slide {
        padding: 1.5rem;
        
      }
    }
  } 
}